	<ul class="nav">
                 <div class="header-logo">
            </div>
         {% for link in linklists[section.settings.main_menu_link_list].links %}
                  {% assign child_list_handle = link.title | handleize %}
		<li>                   
          <a href="{{ link.url }}" class="1">   {{ link.title }}</a>
			<div class="mega-menu">
                               {% for childlink in linklists[child_list_handle].links %}
                         {% assign grand_child_list_handle =  childlink.title | handle %} 
				<div class="nav-column">
				    <h3><a href="{{ childlink.url }}" class="2">{{ childlink.title | escape }} </a></h3>
					<ul>
             {% for grand_child_link in linklists[grand_child_list_handle].links %}
          <li class="grandchild"> 
     
            {{ grand_child_link.title | link_to: grand_child_link.url }}
          </li>   
          {% endfor %}
					</ul>
				</div>
              {% endfor %}
			</div>
		</li>
 {% endfor %}
              </ul>